In [1]:
import pandas as pd
import numpy as np
import mysql.connector as sql

db_connection = sql.connect(host='192.168.0.77', port='3309', database='Data', user='Britt', password='0711')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM COVID_Dataset1')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows, columns=db_cursor.column_names)
df

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2021-07,KS,20,SEDGWICK,20173,0 - 17 years,Female,White,Non-Hispanic/Latino,,0,Missing,Unknown,Probable Case,Symptomatic,Unknown,Unknown,No,
1,2021-04,FL,12,PASCO,12101,50 to 64 years,Female,White,Non-Hispanic/Latino,1,0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,
2,2020-10,NC,37,BUNCOMBE,37021,18 to 49 years,Male,White,Non-Hispanic/Latino,0,0,Missing,Yes,Laboratory-confirmed case,Symptomatic,No,Unknown,No,Yes
3,2022-01,IN,18,ALLEN,18003,18 to 49 years,Female,White,Unknown,0,,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,
4,2022-01,IN,18,MARION,18097,18 to 49 years,Female,White,Unknown,0,,Missing,Missing,Probable Case,Missing,No,Missing,No,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309885,2022-01,IL,17,MCHENRY,17111,0 - 17 years,Male,White,Missing,1,0,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,
309886,2021-06,FL,12,PALM BEACH,12099,18 to 49 years,Female,White,Non-Hispanic/Latino,0,0,Missing,Missing,Probable Case,Symptomatic,No,Missing,No,
309887,2020-12,CO,8,ADAMS,8001,18 to 49 years,Female,Missing,Hispanic/Latino,,,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,
309888,2021-11,MA,25,HAMPDEN,25013,50 to 64 years,Male,White,Hispanic/Latino,0,,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,
309889,2021-09,OH,39,MONTGOMERY,39113,18 to 49 years,Male,Black,Non-Hispanic/Latino,0,,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Unknown,

In [2]:
# grouping # of cases by month

df["case_month"] = pd.to_datetime(df["case_month"])
df_by_month = df.groupby("case_month").count()
df_by_month = df_by_month.reset_index()
df_by_month

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2020-02-01,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
1,2020-03-01,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355,1355
2,2020-04-01,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305,1305
3,2020-05-01,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490,1490
4,2020-06-01,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152
5,2020-07-01,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700,5700
6,2020-08-01,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477,4477
7,2020-09-01,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339,4339
8,2020-10-01,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015,7015
9,2020-11-01,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571,14571
10,2020-12-01,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183,17183
11,2021-01-01,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490,16490
12,2021-02-01,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691,9691
13,2021-03-01,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165,6165
14,2021-04-01,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078
15,2021-05-01,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302,3302
16,2021-06-01,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797
17,2021-07-01,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354,5354
18,2021-08-01,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072,12072
19,2021-09-01,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318,9318
20,2021-10-01,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495,5495
21,2021-11-01,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536,10536
22,2021-12-01,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191,23191
23,2022-01-01,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119,45119
24,2022-02-01,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888
25,2022-03-01,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922
26,2022-04-01,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877,4877
27,2022-05-01,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020,10020
28,2022-06-01,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540,8540
29,2022-07-01,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174,13174
30,2022-08-01,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000,9000
31,2022-09-01,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849,5849
32,2022-10-01,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725,3725
33,2022-11-01,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842
34,2022-12-01,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306,5306
35,2023-01-01,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912
36,2023-02-01,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056
37,2023-03-01,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326
38,2023-04-01,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027
39,2023-05-01,950,950,950,950,950,950,950,950,950,950,950,950,950,950,950,950,950,950
40,2023-06-01,946,946,946,946,946,946,946,946,946,946,946,946,946,946,946,946,946,946
41,2023-07-01,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564,1564
42,2023-08-01,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754,1754

In [3]:
# grouping number of cases by sex

df_by_sex = df.groupby("sex").count()
df_by_sex = df_by_sex.reset_index()
df_by_sex.head()

,sex,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,Female,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973,162973
1,Male,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996,141996
2,Missing,390,390,390,390,390,390,390,390,390,390,390,390,390,390,390,390,390,390
3,NA,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704,1704
4,Unknown,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827,2827

In [4]:
# grouping number of cases by age group

df_by_age = df[["sex", "age_group"]].groupby("age_group").count()
df_by_age = df_by_age.reset_index()
df_by_age.head()

        age_group     sex
0    0 - 17 years   49814
1  18 to 49 years  161197
2  50 to 64 years   54026
3       65+ years   39873
4         Missing    4099

In [5]:
# grouping number of hospitalizations by month

df_by_hosp_yn = df.loc[df["hosp_yn"] == "Yes"].groupby("case_month").count()
df_by_hosp_yn = df_by_hosp_yn["hosp_yn"].reset_index()
df_by_hosp_yn

   case_month  hosp_yn
0  2020-03-01      368
1  2020-04-01      164
2  2020-05-01      120
3  2020-06-01      214
4  2020-07-01      284
5  2020-08-01      186
6  2020-09-01      229
7  2020-10-01      295
8  2020-11-01      558
9  2020-12-01      754
10 2021-01-01      510
11 2021-02-01      332
12 2021-03-01      175
13 2021-04-01      256
14 2021-05-01      129
15 2021-06-01      100
16 2021-07-01      229
17 2021-08-01      353
18 2021-09-01      515
19 2021-10-01      154
20 2021-11-01      308
21 2021-12-01      511
22 2022-01-01      684
23 2022-02-01      122
24 2022-03-01       49
25 2022-04-01       64
26 2022-05-01      105
27 2022-06-01      277
28 2022-07-01      213
29 2022-08-01      297
30 2022-09-01      129
31 2022-10-01      103
32 2022-11-01      184
33 2022-12-01      254
34 2023-01-01       85
35 2023-02-01       94
36 2023-03-01       68
37 2023-04-01       25
38 2023-05-01       17
39 2023-06-01       11
40 2023-07-01       47
41 2023-08-01       47

In [6]:
# grouping number of deaths by month

df_by_death_yn = df.loc[df["death_yn"] == "Yes"].groupby("case_month").count()
df_by_death_yn = df_by_death_yn["death_yn"].reset_index()
df_by_death_yn

   case_month  death_yn
0  2020-03-01        69
1  2020-04-01        44
2  2020-05-01        15
3  2020-06-01        28
4  2020-07-01        60
5  2020-09-01        47
6  2020-10-01        87
7  2020-11-01        85
8  2020-12-01       224
9  2021-01-01       170
10 2021-02-01        30
11 2021-04-01        11
12 2021-07-01        38
13 2021-08-01        36
14 2021-09-01        64
15 2021-10-01        12
16 2021-11-01        90
17 2021-12-01        13
18 2022-01-01       110
19 2022-02-01        51
20 2022-10-01        22
21 2022-11-01         6
22 2023-02-01        11

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
# data from 2020-01-01 to 2020-12-31 1= 2020-01-01, 2=2020-02-01, 3=2020-03-01, etc.

X = np.array([[1],[2],[3],[4],[5],[6],[7],[8], [9],[10],[11],[12]])
y = df_by_month[['res_state']].iloc[:12]

In [9]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [10]:
jan = np.array([[25]])
# 25 represents 2022-01

cases = model.predict(jan)
cases
print("Predicted number of January 2022 Covid cases:",cases)

feb = np.array([[26]])
# 26 represents 2022-02

cases = model.predict(feb)
cases
print("Predicted number of February 2022 Covid cases:",cases)

mar = np.array([[27]])
# 27 represents 2022-03

cases = model.predict(mar)
cases
print("Predicted number of March 2022 Covid cases:",cases)

apr = np.array([[28]])
# 28 represents 2022-04

cases = model.predict(apr)
cases
print("Predicted number of April 2022 Covid cases:",cases)

may = np.array([[29]])
# 29 represents 2022-05

cases = model.predict(may)
cases
print("Predicted number of May 2022 Covid cases:",cases)

jun = np.array([[30]])
# 30 represents 2022-06

cases = model.predict(jun)
cases
print("Predicted number of June 2022 Covid cases:",cases)

jul = np.array([[31]])
# 31 represents 2022-07

cases = model.predict(jul)
cases
print("Predicted number of July 2022 Covid cases:",cases)

aug = np.array([[32]])
# 32 represents 2022-08

cases = model.predict(aug)
cases
print("Predicted number of August 2022 Covid cases:",cases)

sep = np.array([[33]])
# 33 represents 2022-09

cases = model.predict(sep)
cases
print("Predicted number of September 2022 Covid cases:",cases)

oct = np.array([[34]])
# 34 represents 2022-10

cases = model.predict(oct)
cases
print("Predicted number of October 2022 Covid cases:",cases)

nov = np.array([[35]])
# 35 represents 2022-11

cases = model.predict(nov)
cases
print("Predicted number of November 2022 Covid cases:",cases)

dec = np.array([[36]])
# 36 represents 2022-12

cases = model.predict(dec)
cases
print("Predicted number of December 2022 Covid cases:",cases)

Predicted number of January 2022 Covid cases: [[35194.47668998]]
Predicted number of February 2022 Covid cases: [[36745.10606061]]
Predicted number of March 2022 Covid cases: [[38295.73543124]]
Predicted number of April 2022 Covid cases: [[39846.36480186]]
Predicted number of May 2022 Covid cases: [[41396.99417249]]
Predicted number of June 2022 Covid cases: [[42947.62354312]]
Predicted number of July 2022 Covid cases: [[44498.25291375]]
Predicted number of August 2022 Covid cases: [[46048.88228438]]
Predicted number of September 2022 Covid cases: [[47599.51165501]]
Predicted number of October 2022 Covid cases: [[49150.14102564]]
Predicted number of November 2022 Covid cases: [[50700.77039627]]
Predicted number of December 2022 Covid cases: [[52251.3997669]]

In [11]:
coeff = model.coef_[0]
print('Coefficient:', coeff)
intercept = model.intercept_
print('Intercept:', intercept)

Coefficient: [1550.62937063]
Intercept: [-3571.25757576]

In [12]:
y_pred = model.predict(X)
mse = mean_squared_error(y, y_pred)
r2 = r2_score(y, y_pred)

print('Mean squared error:', mse)
print('R-squared score:', r2)

Mean squared error: 5916629.585275836
R-squared score: 0.8288491454177926

In [13]:
y = df_by_hosp_yn[['hosp_yn']].iloc[:12]

In [14]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [15]:
hospital = model.predict(new_X)
print("Number of hospitalizations:", hospital)

NameError: name 'new_X' is not defined

In [ ]:
coeff = model.coef_[0]
print('Coefficient:', coeff)
intercept = model.intercept_
print('Intercept:', intercept)

In [ ]:
y_pred = model.predict(X)
mse = mean_squared_error(y, y_pred)
r2 = r2_score(y, y_pred)

print('Mean squared error:', mse)
print('R-squared score:', r2)

In [ ]:
y = df_by_death_yn[['death_yn']].iloc[:12]

In [ ]:
model = LinearRegression()
model.fit(X,y)

In [ ]:
deaths = model.predict(new_X)
print('Number of deaths:', deaths)

In [ ]:
coeff = model.coef_[0]
print('Coefficient:', coeff)
intercept = model.intercept_
print('Intercept:', intercept)

In [ ]:
y_pred = model.predict(X)
mse = mean_squared_error(y, y_pred)
r2 = r2_score(y, y_pred)

print('Mean squared error:', mse)
print('R-squared score:', r2)